<%= form_for post do |f| %>
<div>
	<%= f.select :blog_id, Blog.all.map{ |b| [b.name, b.id] }%>
</div>
<div>
	<%= f.label :title, "Title:" %>
	<%= f.text_field :title %>
</div>

  <div>
    <%= f.label :filepicker_urls, "images:" %>
    <%= f.filepicker_field :filepicker_urls, multiple: true, dragdrop: true, store_location: 'S3' %> 
  </div>
<div>
	<%= f.label :content, "Content:" %>
	<%= f.text_area :content %>
</div>

  <%= f.submit %>
<% end %>