<h1><%= @blog.name %></h1>
<p><%= @blog.description %></p>

<%= filepicker_image_tag @blog.avatar_url, w: 160, h: 160, fit: 'clip' %>

<section>Posts</section>

<!-- post modal -->
<a href="#" class="open-post-modal" data-id="<%= @blog.id %>" >BBM Post Modal
</a>

<button class="js-modal-open-1" data-id="<%= @blog.id %>">Open Modal T1
</button>
<button class="js-modal-open-2" data-id="<%= @blog.id %>">Open Modal T2
</button>

<div class="modal-container">
</div>

<div class="container">
	<div class="row">
<h2>Create New Post</h2>
	<%= render partial: "posts/new", locals: { post: Post.new } %>
	</div>
</div>

<div class="container">
	
	<% @blog.posts.each do |p| %>
		<%= render partial: "posts/post", locals: { post: p } %>
	<% end %>
	
	
</div>
